.main-background {
    width: 100%;
    height: 1000px;
    background-image: url(../shoes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    
}

h1 {
    font-family: 'nanumsquare';
    text-align:center;
    vertical-align:center
}

p {
    font-family: 'nanumsquare';
    text-align:center
}

div {
    box-sizing: border-box;
}

body {
    margin: 0px;
}
.main-background button {
    font-family: 'nanumsquare';
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: black;
    border-radius: 15px;
}

.textbox1 {
    width: 80%;
    max-width: 1000px;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -100px;
    padding: 30px;
}

@media screen and (max-width: 1200px){
    .main-background {font-size: 10px;}
} 